$redorange:rgb(226, 94, 32);
body{
    // font-family: 'Luckiest Guy', cursive;
font-family: 'Press Start 2P', cursive;
background-color:rgb(221, 172, 109);
}

h1{
    text-align: center;
    color:white;
    text-shadow:2px 2px $redorange;
    &:hover{
        color:$redorange;
        text-shadow:2px 2px white;
    }
}
.imgFlex{
    margin-top: 25vh;
    display: flex;
    justify-content:space-evenly;
   
}
.cardStyle{
    border: 2px solid white;
    padding:4em 2em 3em;
}